 html {
     margin: 20px;
     padding: 0px;
 }

 body {
     background-color: white;
     color: black;
 }

 a:link {
     font-weight: bold;
     color: cyan;
 }

 a:visted {
     font-weight: bold;
     color:fuchsia;
 }

 .img-center {
     width: 600px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .p-caption {
     width: 500px;
     margin-left: auto;
     margin-right: auto;
     font-size: smaller;
 }